<app-directives></app-directives>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
    <p>This is the main app component</p>
            <b>
    <p>  Testing *ngSwitch Directive as a replacement of *ngIf</p>
            <div [ngSwitch] = "value">
                <p *ngSwitchCase=" 5 "> Value is 5</p>
                <p *ngSwitchCase=" 10 "> Value is 10</p>
                <p *ngSwitchCase=" 15 "> Value is 15</p>
                <p *ngSwitchCase=" 25 "> Value is 25</p>
                <p *ngSwitchDefault >Default Value is 50</p>
            </div></b>
        </div>
    </div>
</div>